<h2>{{movie.Title}}</h2>
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
<p><strong>Movie ID:</strong> {{movie.Movie_ID}}</p>
<p><strong>Released:</strong> {{movie.Released}}</p>
<p><strong>Genre:</strong> {{movie.Genre}}</p>
<p><strong>Rating:</strong> {{movie.Rating}}</p>
